*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    text-align: center;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.stage {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 380px;
    margin: 0 auto;
    border: 1px solid #000;
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
}

.o, .x {
    position: relative;
}

.o:after, .x:after {
    text-align: center;
    content: "\1F6E1";
    /* codigo do emoji do site emojipedia */
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    /* lembrando que sempre que usarmos absolute tem que mudar o el pai para relative */
    inset: 0;
    /* inset é o mesmo que top, right, bottom e left */
}

.x:after {
    content: "\2694";
}